@media screen and (max-width:660px) {

    .back {
        display: none;
    }

    li {
        font-size: 12px;
    }

    p {
        font-size: 15px;
    }

    .pc {
        display: none;
    }

    .sp {
        display: block;
    }

    #about , #skill{
        width: 100%;
        background-color: antiquewhite;
        padding: 50px 20px;
    }

    section {
        width: 100%;
        padding: 0 0 0 0;
        margin: 80px auto 0 auto;
    }

    .section-title {
        text-decoration: underline;
        margin-bottom: 50px;
        font-size: 25px;
    }

    header {
        padding: 30px;
    }

        /*-------------top---------------------------------
--------------------------------------------------------*/

    .top-wrapper {
        background-color: white;
        width: 100%;
    }

    .top-title {
        border-radius: 0;
        height: 0px;
        padding: 0;
        font-size: 14px;
        margin:170px 0px 0px 30px;
    }

    .top-wrapper img {
        transform: rotate(35deg);
        border-radius: 50%;
        width: 50%;
        object-fit: cover;
        margin: 0px 0 100px 35px;
    }

        /*-------------about---------------------------------
--------------------------------------------------------*/

    .profile {
        display: block;
        text-align: center;
    }

    .profile img {
        width: 50%;
        border-radius: 100%;
        margin-bottom: 10px;
    }

    .profile-text p {
        line-height: 2;
    }
/*-------------favorite---------------------------------
------------------------------------------------------------------------------------------*/
    .favorite-container {
        display: block;
    }

    .favorite-content {
        margin-bottom: 100px;
    }

    .favorite-content h3 {
        font-size: 20px;
        margin: 20px;
    }

    .favorite-container p {
        font-size: 15px;
        margin-top: 10px;
        line-height: 2;
    }

    .fav2 {
        margin-right: 0;
    }

    /*-------------skill---------------------------------
--------------------------------------------------------*/
    .skillcontent {
        width: 100%;
        border-radius: 50%;
        margin-bottom: 100px;
        text-align: center;
        display: block;
    }

    #skill img {
        padding: 0;
    }

    #skill h3 {
        font-size: 20px;
        margin: 20px;
    }

    #skill p {
        font-size: 16px;
        line-height: 2;
    }

    .toboe img {
        margin-top: 40px;
        width: 50%;
    }

    .ass img {
        margin-top: 60px;
        width: 70%;
    }

    .morning img {
        margin-top: 20px;
        width: 53%;
    }

    .patroll img {
        margin-top: 40px;
    }

    .toboe-text {
     margin:0;
    }

    .ass-text {
        margin:0;
    }

    .morning-text {
        margin:0;
    }

    .patroll-text {
        margin:0;
    }

    /*-------------faq---------------------------------
    --------------------------------------------------------*/

      .faq-wrapper h2 {
        margin: 80px 0;
        font-size: 40px;
        color: black;
      }

      .faq-list-item span {
        display: none;
      }

      .faq-img {
        width: 100%;
      }

    /*-------------contact---------------------------------
    --------------------------------------------------------*/

    .contact-wrapper img {
        width: 100%;
    }

   

}
