* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding-top: 90px; /* ヘッダーの後ろに要素が隠れないようにするため */

}

main {
    overflow: hidden;
}

.fadein {
    opacity: 0;
    transform: translate(0,80px);
    transition: all 800ms;
}

.left {
    transform: translate(-100px,0);
}

.right {
    transform: translate(100px,0);
}

.top {
    transform: translate(0,100px);
}

.scrollin {
    opacity: 1;
    transform: translate(0,0);
}

#page_top {
    position: fixed;
    bottom: 30px;
    right: 20px;
}
#page_top a {
    background-color: #999;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 20px 20px;
}
#page_top a:hover {
    background-color: #666;
    text-decoration: none;
}

.back {
    z-index: -5;
    opacity: 0.1;
    position: fixed;
    top: 10px;
    width: 80%;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.sp {
    display: none;
}

a {
    text-decoration: none;
    color: black;
    opacity: 0.7;
}

a:hover {
    opacity: 1;
}

p {
    color: rgb(65, 65, 65);
}

section {
    padding: 120px 0 0 0;
    width: 70%;
    margin: 300px auto 0 auto;
}

.section-title {
    margin-bottom: 70px;
    text-align: center;
    font-size: 40px;
}

/*-------------ヘッダー----------------------
-----------------------------------------------------------------*/

header {
    border-bottom: 1px solid rgb(219, 219, 219);
    background-color:white;
    display: flex;
    align-items: center;
    padding: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    height: 20px;
    z-index: 100;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

li {
    font-size: 33px;
}

/*-------------トップimg-----------------------
----------------------------------------------------------------------------------------------*/

.top-wrapper {
    background-color: antiquewhite;
    width: 100%;
    padding:80px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

@keyframes fadeInAnime{
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }

.top-wrapper img {
    transform: rotate(20deg);
    border-radius: 40%;
    width: 28%;
    margin:0 0 30px 300px;

    animation-name: fadeInAnime;
    animation-fill-mode:backwards;
    animation-duration:3s;
    animation-timing-function:ease;
    animation-delay: 0.5s;
    animation-direction:normal;
}

.top-title {
    display: flex;
    align-items: center;
    height: 150px;
    padding: 50px;
    margin: 300px auto;
    font-size: 30px;
    background-color: white;
    border-radius: 50%;

    animation-name: fadeInAnime;
    animation-fill-mode:backwards;
    animation-duration:3s;
    animation-timing-function:ease;
    animation-delay: 1s;
    animation-direction:normal;
}


/*-------------About------------------------
-----------------------------------------------------------------------*/
#about {
    border-radius: 20%;
    padding: 50px 0;
    background-color: white;
    border: 1px solid rgb(200, 200, 200);
    box-shadow: 5px 5px 5px rgb(158, 158, 158);
}

.profile {
    display: flex;
    justify-content: space-around;
}

.profile img {
    width: 30%;
    border-radius: 100%;
}

.profile-text {
    font-size: 25px;
    display: flex;
    align-items: center;
}

.profile-text p {
    line-height: 3;
}

/*-------------favorite---------------------------------
------------------------------------------------------------------------------------------*/

#favorite {
    width: 100%;
    background-color: antiquewhite;
}

.favorite-container {
    padding: 100px 0;
    display: flex;
    justify-content: space-around;
}

.fav1 {
    text-align: center;
}

.fav2 {
    text-align: center;
    margin-right: 50px;
}

.favorite-container img {
    border: 5px solid rgb(118, 118, 118);
    border-radius: 40%;
}

.fav1 img {
    width: 50%;
}

.fav2 img {
    width: 48%;
}

.favorite-container p {
    font-size: 25px;
    margin-top: 50px;
}

.favorite-content h3 {
    font-size: 25px;
    margin-bottom: 25px;
}

/*-------------skill-----------------------
----------------------------------------------------------------------------------------------------*/

#skill {
    width: 90%;
}

#skill img {
    border-radius: 30%;
    padding: 50px;
}

.skillcontent {
    border-radius:50%;
    width: 55%;
    height: 500px;
    background-color: white;
    border:1px solid rgb(244, 194, 86);
    margin-bottom: 160px;
    display: flex;
}

.ass , .patroll{
    margin-left: auto;
    flex-direction: row-reverse;
}

#skill h3 {
    font-size: 30px;
    margin-bottom: 50px;
}

#skill p {
    font-size: 25px;
}

.toboe img {
    width: 40%;
}

.toboe-text {
    margin: 150px 0 0 70px;
}

.ass img {
    width: 60%;
}

.ass-text {
    margin: 150px 0 0 70px;
}

.morning-text {
    margin: 150px 50px 0 70px;
}

.morning img {
    width: 50%;
}

.patroll img {
    width:50%;
}

.patroll-text {
    margin: 100px 0 0 130px;
}

/*-------------faq-----------------------
-------------------------------------------------------------------*/
    .faq-wrapper {
    background-color:rgb(242, 242, 242);
    text-align: center;
    padding-bottom: 80px;
    color: #5f5d60;
    border: 1px solid rgb(195, 195, 195);
  }

  .faq-wrapper h2 {
    margin-bottom: 80px;
    font-size: 40px;
    color: black;
  }
  
  

  #faq-list {
    width: 80%;
    margin: 0 auto;
    padding: 0;
    list-style: none;
  }
  
  /*アコーディオン追加 */
  .faq-list-item {
    margin:10px;
    border-bottom:1px solid #ccc;
    position:relative;
    cursor:pointer;
    text-align: left;
  }
  
  .faq-list-item h3 {
    font-size: 22px;
    margin: 20px 0;
  }
  
  .faq-list-item span {
    position:absolute;
    bottom: 5px;
    right:5px;
    color:rgb(76, 76, 76);
    font-size:25px;
  }
  
  .answer {
    font-size: 20px;
    display: none;
    padding: 10px 0px;
    margin-bottom: 15px;
  }

  .faq-img {
    width: 50%;
  }



/*-------------contact-----------------------
----------------------------------------------------------------------------------------------------*/

#contact {
    margin-bottom: 200px;
}

.contact-wrapper img {
    width: 30%;
    border-radius: 50%;
}

.fa-brands {
    width: 30%;
}
